html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: rgb(21 184 121);
  font-family: "Futura", Arial, Helvetica, sans-serif;
  color: white;
  border: solid 5px white;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  
}

main {
  max-width: 512px;
  margin: 0 auto;
}

img, h1, p, ul, ol, figure {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-decoration: underline;
}

img {
  width: 100%;
  max-width: 512px;
  height: auto;
}

figure {
  margin-bottom: 1rem;
  max-width: 512px;
  border:1px solid;
}

figcaption {
  color: orange;
  max-width: 512px;
  font-size: .8rem;
  margin: -42px 5px 0 0;
  text-align: right;
  font-style: italic;
}

.home a {
  color: white;
  text-decoration: none;
}

.home {
  font-size: 1.5rem;
}

.home ul {
  list-style: none;
}

.home li {
  margin: 2rem 0;
}

.home a::before,
.home a::after {
  content: "• • •";
  margin: 0 5px;
}

.project p,
.project ul li,
.project ol li {
  text-align: left;
}

.project ul {
  margin-left: 1rem;
}

.project ol {
  margin-left: 1.3rem;
}