* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgb(21 184 121);
  color: white;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 150%;
  max-width: 1024px;
  margin: 50px auto 50px auto;
  padding: 25px;
  border: solid 5px;
}

img, h1, h2, p, ul, ol {
  margin-bottom: 20px;
}

img {
  width: 100%;
  max-width: 512px;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

.home ul {
  list-style: none;
}

.home li {
  margin-bottom: 30px;
}

.home a::before,
.home a::after {
  content: "• • •";
  margin: 0 5px;
}

.project p,
.project ul li,
.project ol li {
  text-align: left;
}

.project ul {
  margin-left: 25px
}

.project ol {
  margin-left: 35px
}